body {
  position: relative;
}
#raindrop {
  position: absolute;
  background-color: rgba(0,0,0,.9);
}
#cover {
  position: absolute;
  background-image: url('../images/space2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
#cover.cover {
  display: block;
}

/*-------------------------------*/

/* COMMON PART */
.main-container {
  position: relative;
  width: 100%;
  height: 800px;
  text-align: center;
  display: none;
  z-index: 3;
}
.inner {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}

/* TITLE PART */
.main-container .inner .title {
  position: relative;
  width: 1500px;
  height: 200px;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0,0,0,.6);
}
.main-container .inner .title h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 100px;
  color: rgba(0,0,0,.5);
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container .inner .title h2 {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(0,0,0,.5);
  font-size: 40px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* CT-SIDE PART */
.main-container .ct-side {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 300px;
  z-index: 3;
  background-color: rgba(255, 100, 100, .3);
  display: none;
}

/* CT-SIDE-LEFT PART */
.main-container .ct-side .content-l {
  position: absolute;
  left:0;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  border-right: 4px dashed rgba(0,0,0,.6);
  
}
.main-container .ct-side .content-l p {
  position:absolute;
  width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0,0,0,.6);
  font-size: 30px;
  line-height: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CT-SIDE-RIGHT PART */
.main-container .ct-side .content-r {
  position: absolute;
  right: 0;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
}

/* CT-SIDE-RIGHT TOP/BOTTOM PART */
.main-container .ct-side .content-r .c-t {
  position: absolute;
  width: 750px;
  height: 150px;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  box-sizing: border-box;
}

/* CT-SIDE-RIGHT BOTTOM PART */
.main-container .ct-side .content-r .c-b {
  position: absolute;
  width: 750px;
  height: 150px;
  left: 0;
  bottom: 0;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  box-sizing: border-box;
}


/* CT-SIDE COMMON PART */
.main-container .ct-side .content-r .c-t ul,
.main-container .ct-side .content-r .c-b ul {
  display: flex;
  width: 750px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.main-container .ct-side .content-r .c-t ul li,
.main-container .ct-side .content-r .c-b ul li {
  padding: 5px;
  margin: 30px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
  box-sizing: border-box;
}
.main-container .ct-side .content-r .c-t ul li i,
.main-container .ct-side .content-r .c-b ul li i {
  transition: .2s;
  font-size: 50px;
  color: rgba(252, 85, 63, 0.9);
}
.main-container .ct-side .content-r .c-t ul li i:hover,
.main-container .ct-side .content-r .c-b ul li i:hover {
  font-size: 60px;
}
.main-container .ct-side .content-r .c-t ul li > a,
.main-container .ct-side .content-r .c-b ul li > a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  width: 70px;
  height: 70px;
  line-height: 20px;
}

/* MID-CONTAINER PART */
.mid-container {
  position: relative;
  width: 1500px;
  height: 300px;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: rgba(251, 175, 35, .3);
}
.mid-container .mid-l {
  position: absolute;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  border-right: 4px dashed rgba(0,0,0,.6);
}
.mid-container .mid-r {
  position: absolute;
  right: 0;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
}