body {
  background-image: url(../images/cargo-truck-6238695_1920.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.stagger-container {
  width: 1200px;
  height: 750px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.basic-staggering {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background: transparent; */
  background-color: rgba(241, 239, 239, .2);
  border-radius: 100px;
}
.basic-staggering .el {
  width: 40px;
  height: 40px;
  background-color: #ffb236;
  border-radius: 50%;
  margin: 50px;
}

.main-svg_container {
  position: relative;
  width: 1000px;
  height: 200px;
  margin: auto;
  border-bottom:2px solid #ffb236;
}
.svg-container {
  position: absolute;
  width: 1000px;
  text-align: center;
  top: -200px;
  left: 50%;
  height: 400px;
  transition: all 1s;
  transform: translateX(-50%);
  cursor: pointer;
  /* border: 1px solid red; */
  /* stroke-dasharray: 10; */
  /* animation: ani 2s linear infinite; */
}
.svg-container.clicked {
  background: rgba(999, 999, 999, 0.8);
}
.svg-container2 {
  position: absolute;
  top: 100px;
  left: 50%;
  height: 400px;
  transform: translate(-50%);
}
/* @keyframes ani {
  0% {
    stroke-dashoffset: 400; 
  }
  50% {
    stroke-dashoffset: 0;  
  }
  100% {
    stroke-dashoffset: -400;
  }
} */

.basic-staggering .cursor {
  position: absolute;
  top: 26px;
  left: 66px;
  width: 70px;
  height: 70px;
  margin: 9px;
  background-color: rgba(241, 145, 145, .4);
  border-radius: 50%;
  z-index: 0;

}

.stagger-container .test {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.stagger-container .test .item {
  margin:20px;
  width: 100px;
  height: 500px;
  border-radius: 10px;
  display: none;
  cursor: pointer;
  
  
}
.stagger-container .test .item:nth-child(1) { 
  background: #bae;
  animation: colorEl 2s linear infinite;
}
.stagger-container .test .item:nth-child(2) { 
  background: #ffb236;
  animation: color2El 2s linear infinite;
}
.stagger-container .test .item:nth-child(3) { 
  background: #fb5849;
  animation: color3El 2s linear infinite;
}
.stagger-container .test .item:nth-child(4) { 
  background: rgba(96, 236, 53, 0.856);
  animation: color4El 2s linear infinite;
}
.stagger-container .test .item:nth-child(5) { 
  background: #bae2ba;
  animation: color5El 2s linear infinite;
}
.stagger-container .test .item:nth-child(6) { 
  background: #9feeee;
  animation: color6El 2s linear infinite;
  z-index: 2;
}
.stagger-container .test .item:nth-child(1).next {
  transition: 2s;
  width: 50px;
  transform: translateY(-150px) translateX(-380px) rotate(90deg);
}
.stagger-container .test .item:nth-child(2).next {
  transition: 2s;
  width: 50px;
  transform: translateY(0px) translateX(-470px) rotate(90deg);
}
.stagger-container .test .item:nth-child(3).next {
  transition: 2s;
  width: 50px;
  height: 500px;
  transform: translateY(-150px) translateX(-50px) rotate(90deg);
}
.stagger-container .test .item:nth-child(4).next {
  transition: 2s;
  width: 50px;
  transform: translateY(0px) translateX(-140px) rotate(90deg);
}
.stagger-container .test .item:nth-child(5).next {
  transition: 2s;
  width: 50px;
  height: 500px;
  transform: translateY(-250px) translateX(-50px) rotate(-40deg);
}
.stagger-container .test .item:nth-child(6).next {
  transition: 2s;
  width: 50px;
  height: 500px;
  transform: translateY(100px) translateX(-150px) rotate(40deg);
}

@keyframes colorEl{
  0%{background-color: #fb5849;}
  25%{background-color: #bae;}
  50%{background-color: rgba(96, 236, 53, 0.856);}
  75%{background-color: #bae2ba;}
  100%{background-color: #ffb236;}
}

@keyframes color2El{
  0%{background-color: #bae;}
  25%{background-color: rgba(96, 236, 53, 0.856);}
  50%{background-color: #bae2ba;}
  75%{background-color: #ffb236;}
  100%{background-color: #fb5849;}
}

@keyframes color3El{
  0%{background-color: rgba(96, 236, 53, 0.856);}
  25%{background-color: #bae2ba;}
  50%{background-color: #ffb236;}
  75%{background-color: #fb5849;}
  100%{background-color: #bae;}
}

@keyframes color4El{
  0%{background-color: #bae2ba;}
  25%{background-color: #fb5849;}
  50%{background-color: #ffb236;}
  75%{background-color: #bae;}
  100%{background-color: rgba(96, 236, 53, 0.856) ;}
}

@keyframes color5El{
  0%{background-color: #fb5849;}
  25%{background-color: #ffb236;}
  50%{background-color: #bae;}
  75%{background-color: rgba(96, 236, 53, 0.856);}
  100%{background-color:  #bae2ba;}
}

@keyframes color6El{
  0%{background-color: #3bc98e;}
  25%{background-color: #efa;}
  50%{background-color: #d84040;}
  75%{background-color: rgba(96, 236, 53, 0.856);}
  100%{background-color:  #9feeee;}
}

.btn_car {
  z-index: 1;
}
.btn_car button {
  position: absolute;
  top: 220px;
  left: 964px;
  border-radius: 10px;
  border-style: none;
  background-image: url(../images/번호판\ 버튼.JPG);
  display: none;
}
.btn_car button a {
  display: block;
  width: 53px;
  height: 53px;
}