.m-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.inner {
  position: relative;
  width: 1100px;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}
.tab_content {
  display: block;
  text-align: center;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  position: relative;
  top: 20px;
  width: 100px;
  height: 50px;
  background-color: #fb5849;
  line-height: 50px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 5px;
  margin-bottom: 0;
}
.content {
  position: relative;
  top: 20px;
  width: 1100px;
  height: 800px;
  display: none;
  background-color: #fb5849;
  border-radius: 20px;
}
input[id="tab-1"]:checked ~ .con1 {
  display: block;
}
input[id="tab-2"]:checked ~ .con2 {
  display: block;
}
input[id="tab-3"]:checked ~ .con3 {
  display: block;
}
input[id="tab-4"]:checked ~ .con4 {
  display: block;
}
.con1 h1 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 100px;
}
.con1 h1 p {
  font-size: 24px;
}
.con2 .elements {
  position: relative;
  top: 50px;
  width: 1000px;
  height: 700px;
  margin: auto;
}
/* left */
.con2 .elements .square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square1 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle1 {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square2 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle2 {
  position: absolute;
  top: 250px;
  left: 250px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square3 {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

/* right */
.con2 .elements .circle3 {
  position: absolute;
  right:0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square4 {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle4 {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square5 {
  position: absolute;
  top: 150px;
  right: 150px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle5 {
  position: absolute;
  top: 200px;
  right: 200px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .square6 {
  position: absolute;
  top: 250px;
  right: 250px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .circle6 {
  position: absolute;
  top: 300px;
  right: 300px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}

/* b-left */
.con2 .elements .squ {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ1 {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir1 {
  position: absolute;
  bottom: 150px;
  right: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ2 {
  position: absolute;
  bottom: 200px;
  right: 200px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir2 {
  position: absolute;
  bottom: 250px;
  right: 250px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ3 {
  position: absolute;
  bottom: 300px;
  right: 300px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

/* b-right */

.con2 .elements .cir3 {
  position: absolute;
  bottom:0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ4 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir4 {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ5 {
  position: absolute;
  bottom: 150px;
  left: 150px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir5 {
  position: absolute;
  bottom: 200px;
  left: 200px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
.con2 .elements .squ6 {
  position: absolute;
  bottom: 250px;
  left: 250px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.con2 .elements .cir6 {
  position: absolute;
  bottom: 300px;
  left: 300px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}

/* ------------------------ */

@import url(https://fonts.googleapis.com/css?family=Lato:300);


.box{
  display: inline-block;
  width: 50%;
  height: 700px;
  position: relative;
  transition: all .2s ease;
}

/* -------------- Clock -------------- */

.clock{
  border-radius: 100px;
  border: 3px solid #fff;
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  /* top: calc(50% - 43px); */
  left: 50%;
  /* left: calc(50% - 43px); */
  transform: translate(-50%, -50%);
}
.clock:after{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 7%;
  left: 48%;
  height: 90px;
  width: 10px;
  border-radius: 5px;
  transform-origin: 50% 97%;
  animation: grdAiguille 2s linear infinite;
}
@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.clock:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 13%;
  left: 48%;
  height: 80px;
  width: 10px;
  border-radius: 5px;
  transform-origin: 50% 94%;
  animation: ptAiguille 12s linear infinite;
}
@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.box1{
  display: inline-block;
  width: 50%;
  height: 700px;
  position: relative;
  transition: all .2s ease;
}

.swing {
  border-radius: 100px;
  border: 3px solid #fff;
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  /* top: calc(50% - 43px); */
  left: 50%;
  /* left: calc(50% - 43px); */
  transform: translate(-50%, -50%);
}
.box1 .swing > a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 75%;
  left: 41%;
  transform-origin: 50% 290%;
  animation: atEl 3s linear infinite;
  z-index: 3;
}
@keyframes atEl{
  0%{transform:rotate(90deg);}
  50%{transform:rotate(270deg);}
  100%{transform:rotate(90deg);}
}
.swing:after{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 7%;
  left: 48%;
  height: 90px;
  width: 5px;
  border-radius: 5px;
  transform-origin: 50% 100%;
  animation: swingEl 3s linear infinite;
}
@keyframes swingEl{
  0%{transform:rotate(90deg);}
  50%{transform:rotate(270deg);}
  100%{transform:rotate(90deg);}
}
.swing:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 8%;
  left: 40%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transform-origin: 50% 230%;
  animation: ballEl 3s linear infinite;
  z-index: 2;
}
@keyframes ballEl{
  0%{transform:rotate(90deg);}
  50%{transform:rotate(270deg);}
  100%{transform:rotate(90deg);}
}