body {
  position: relative;
}
#raindrop {
  position: absolute;
  background-color: rgba(0,0,0,.9);
}
#cover {
  position: absolute;
  background-color: rgba(0,0,0,.9);
  display: none;
}
#cover.cover {
  display: block;
}