body {
  position: relative;
}
#raindrop {
  position: absolute;
  background-color: rgba(0,0,0,.9);
}
#cover {
  position: absolute;
  background-image: url('../images/space2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
#cover.cover {
  display: block;
}

/*-------------------------------*/

/* COMMON PART */
.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  z-index: 3;
}
.inner {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}

/* TITLE PART */
.main-container .inner .title {
  position: relative;
  width: 1500px;
  height: 200px;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0,0,0,.6);
}
.main-container .inner .title h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 100px;
  color: rgba(0,0,0,.5);
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-container .inner .title h2 {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(0,0,0,.5);
  font-size: 40px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* CT-SIDE PART */
.main-container .ct-side {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 300px;
  z-index: 3;
  background-color: rgba(255, 100, 100, .3);
  display: none;
}

/* CT-SIDE-LEFT PART */
.main-container .ct-side .content-l {
  position: absolute;
  left:0;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  border-right: 4px dashed rgba(0,0,0,.6);
  
}
.main-container .ct-side .content-l p {
  position:absolute;
  width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0,0,0,.6);
  font-size: 30px;
  line-height: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CT-SIDE-RIGHT PART */
.main-container .ct-side .content-r {
  position: absolute;
  right: 0;
  width: 750px;
  height: 300px;
  box-sizing: border-box;
}

/* CT-SIDE-RIGHT TOP/BOTTOM PART */
.main-container .ct-side .content-r .c-t {
  position: absolute;
  width: 750px;
  height: 150px;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  box-sizing: border-box;
}

/* CT-SIDE-RIGHT BOTTOM PART */
.main-container .ct-side .content-r .c-b {
  position: absolute;
  width: 750px;
  height: 150px;
  left: 0;
  bottom: 0;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  box-sizing: border-box;
}


/* CT-SIDE COMMON PART */
.main-container .ct-side .content-r .c-t ul,
.main-container .ct-side .content-r .c-b ul {
  display: flex;
  width: 750px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.main-container .ct-side .content-r .c-t ul li,
.main-container .ct-side .content-r .c-b ul li {
  padding: 5px;
  margin: 30px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
  box-sizing: border-box;
}
.main-container .ct-side .content-r .c-t ul li i,
.main-container .ct-side .content-r .c-b ul li i {
  transition: .2s;
  font-size: 50px;
  color: rgba(228, 224, 224, 0.9);
}
.main-container .ct-side .content-r .c-t ul li i:hover,
.main-container .ct-side .content-r .c-b ul li i:hover {
  transform: scale(1.3);
}
.main-container .ct-side .content-r .c-t ul li > a,
.main-container .ct-side .content-r .c-b ul li > a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  width: 70px;
  height: 70px;
  line-height: 20px;
}

/* MID-CONTAINER PART */
.mid-container {
  position: relative;
  width: 1500px;
  height: 250px;
  z-index: 3;
  transition: .5s;
  background-color: rgba(251, 175, 35, .3);
  cursor: pointer;
}
.mid-container h1 {
  position: absolute;
  width: 1500px;
  line-height: 250px;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0,0,0,.6);
  z-index: 4;
}
.mid-container .mid-l {
  position: absolute;
  width: 750px;
  height: 250px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-container .mid-l a {
  text-decoration: none;
  color:rgba(228, 224, 224, 0.9);
}
.mid-container .mid-l a i {
  font-size: 50px;
  margin: 30px;
  transition: 1s;
  z-index: 4;
  display: none;
}
.mid-container .mid-l a i:hover {
  transform: scale(1.7);
}
.mid-container .mid-r {
  position: absolute;
  right: 0;
  width: 750px;
  height: 250px;
  box-sizing: border-box;
  border-bottom: 4px dashed rgba(0,0,0,.6);
}
.mid-container .mid-r p {
  position: absolute;
  width: 750px;
  line-height: 250px;
  font-size: 36px;
  font-weight: 700;
  color: rgba(0,0,0,.6);
  display: none;
}
.mid-container .mid-l.turn i {
  transform: rotateY(180deg);
  display: block;
}
.mid-container .mid-r.turn p {
  transform: rotateY(180deg);
  display: block;
}
.mid-container.turn {
  transform: rotateY(180deg);
}
.mid-container.turn h1 {
  display: none;
}

/* BOTTOM-CONTAINER PART */
.bot-container {
  position: relative;
  width: 1500px;
  height: 250px;
  z-index: 3;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.bot-container img {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50px;
  left: 60%;
  transform: translate(-50%);
}
.bot-container p {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color:rgba(0,0,0,.6);
  left: 150px;
  width: 1000px;
  line-height: 250px;
}

.side-bar  {
  position: relative;
}
.side-bar i {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 25px;
  color:rgba(228, 224, 224, 0.9);
  z-index: 5;
}
.side-bar .side-menu {
  position: fixed;
  left: 0;
  width: 400px;
  height: 1000px;
  background: rgba(0,0,0,.8);
  transform: translateX(-400px);
  transition: 1s;
  z-index: 4;
}
.side-bar .side-menu.bar {
  transform: translateX(0);
}
.side-bar .side-menu ul {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  line-height: 80px;
}
.side-bar .side-menu ul li {
  position: relative;
  color: #fff;
  border-bottom:3px solid rgba(228, 224, 224, 0.9);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
}
.side-bar .side-menu ul li i {
  position: absolute;
}
.side-bar .side-menu ul li:first-child {
  border-top: 3px solid rgba(228, 224, 224, 0.9);
}
.side-bar .side-menu ul li:hover {
  color: #000;
  background-color: #fff;
}
.side-bar .side-menu ul li:nth-child(1) i {
  left: 50%;
  transform: translate(-50%);
}
.side-bar .side-menu ul li:nth-child(2) i {
  left: 50%;
  transform: translate(-50%);
}
.side-bar .side-menu ul li:nth-child(3) i {
  left: 50%;
  transform: translate(-50%);
}
.side-bar .side-menu ul li:nth-child(4) i {
  left: 50%;
  transform: translate(-50%);
}
.side-bar .side-menu ul li:nth-child(5) i {
  left: 50%;
  transform: translate(-50%);
}
.side-bar .side-menu ul li:hover i {
  color: #000;
}
.side-bar .side-menu ul li .content_1,
.side-bar .side-menu ul li .content_2,
.side-bar .side-menu ul li .content_3,
.side-bar .side-menu ul li .content_4,
.side-bar .side-menu ul li .content_5 {
  position: fixed;
  top: 0;
  left: 400px;
  width: 800px;
  height: 420px;
  line-height: 40px;
  background-color: rgba(0,0,0,.7);
  display: none;
  border-radius: 0 20px 20px 0;
}
.side-bar .side-menu ul li .content_1 p,
.side-bar .side-menu ul li .content_2 p,
.side-bar .side-menu ul li .content_3 p,
.side-bar .side-menu ul li .content_4 p,
.side-bar .side-menu ul li .content_5 p {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
}
.side-bar .side-menu ul li:nth-child(1):hover .content_1 {
  display: block;
  color: #fff;
}
.side-bar .side-menu ul li:nth-child(2):hover .content_2 {
  display: block;
  color: #fff;
} 
.side-bar .side-menu ul li:nth-child(3):hover .content_3 {
  display: block;
  color: #fff;
} 
.side-bar .side-menu ul li:nth-child(4):hover .content_4 {
  display: block;
  color: #fff;
} 
.side-bar .side-menu ul li:nth-child(5):hover .content_5 {
  display: block;
  color: #fff;
} 