body {
  position: relative;
  background-color: #fff;
}
.back-to {
  text-align: center;
  margin-top: 100px;
  color: #fb5849;
  padding: 100px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
}
.back-to a {
  text-decoration: none;
  color: #fb5849;
}
.main-container {
  position: relative;
  background-color: #fff;
  margin: 30px 0 30px 0;
  height: 1000px;
}
.main-container .sub-container {
  width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding-top: 50px;
}
.main-container .sub-container .card {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #fb5849;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  font-weight: 700;
  margin: 15px;
  border-radius: 10px;
  transform-style: preserve-3d; 
  transition: all 0.5s;
}
.main-container .sub-container .card:hover {
  perspective: 500px;
  transform: rotateY(180deg);
  /* background-color: rgba(192, 185, 185, 0.8); */
}
.main-container .sub-container .card:hover .front {
  display: none;
}
.main-container .sub-container .card:hover .back {
  display: block;
}
.front {
  transform: rotateY(0);
  z-index: 2;
  color: #fb5849;
  cursor: pointer;
}
.back {
  transform: rotateY(180deg);
  display: none;
  z-index: 1;
  color: #fb5849;
  cursor: pointer;
}
@keyframes card {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.btn {
  position: absolute;
  top: 1000px;
  border: none;
  background-color: #fff;
}
.btn a {
  display: block;
  text-decoration: none;
  color: rgba(0,0,0,.2);
  background-color: #fff;
}
/* .main-container .sub-container .card.card1 { }
.main-container .sub-container .card.card2 { }
.main-container .sub-container .card.card3 { }
.main-container .sub-container .card.card4 { }
.main-container .sub-container .card.card5 { }
.main-container .sub-container .card.card6 { }
.main-container .sub-container .card.card7 { }
.main-container .sub-container .card.card8 { }
.main-container .sub-container .card.card9 { }
.main-container .sub-container .card.card10 { }
.main-container .sub-container .card.card11 { }
.main-container .sub-container .card.card12 { }
.main-container .sub-container .card.card13 { }
.main-container .sub-container .card.card14 { }
.main-container .sub-container .card.card15 { }
.main-container .sub-container .card.card16 { } */

